Repository Ornias1993/Freenas-Setup, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ornias1993, @colemamd, @asmod3us, @thorsteneb

docs/CODEOWNERS:

# Default code owner
*       @ornias1993

# code owner for the docs.
/docs/  @ornias1993

# Code owners for individual blueprints
/blueprints/influxdb/ @colemamd
/blueprints/unifi/ @colemamd
/blueprints/grafana/ @colemamd
/blueprints/forked_daapd/ @asmod3us
/blueprints/sabnzbd/ @asmod3us
/blueprints/sabnzbd3/ @asmod3us
/blueprints/plex/includes/hw_transcoding.sh @thorsteneb

- Adds custom iocage create options to blueprint and jail config files. Fixes #124
  docs/config options.md
  global.sh
Owners: @ornias1993

Some small fixes for the just mergedreinstall check and general config file (#154)
  config.yml.example
  includes/global.sh
Owners: @ornias1993

- Little more clear example - Add documentation
  blueprints/example/config.yml
  blueprints/example/install.sh
  docs/development/linked_configs.md
Owners: @ornias1993

Add Bazarr (#148)
  .github/Readme.md
  blueprints/bazarr/config.yml
  blueprints/bazarr/includes/bazarr.rc
  blueprints/bazarr/install.sh
  blueprints/bazarr/readme.md
  blueprints/bazarr/update.sh
  config.yml.example
Owners: @ornias1993

set requried config version to 1.3
  jailman.sh
Owners: @ornias1993

Add Grafana (#144)
  .github/CODEOWNERS
  blueprints/grafana/config.yml
  blueprints/grafana/includes/grafana.conf
  blueprints/grafana/includes/influxdb.yaml
  blueprints/grafana/install.sh
  blueprints/grafana/readme.md
  blueprints/grafana/update.sh
  config.yml.example
Owners: @ornias1993, @colemamd

Add Forked_Daapd blueprint (#146)
  .github/CODEOWNERS
  blueprints/forked_daapd/build-daapd.sh
  blueprints/forked_daapd/build-ffmpeg.sh
  blueprints/forked_daapd/config.yml
  blueprints/forked_daapd/install.sh
  blueprints/forked_daapd/readme.md
  blueprints/forked_daapd/update.sh
  config.yml.example
  includes/global.sh
Owners: @ornias1993, @asmod3us

Add SABnzbd v3. (#164)
  .github/CODEOWNERS
  blueprints/sabnzbd3/config.yml
  blueprints/sabnzbd3/includes/build.sh
  blueprints/sabnzbd3/includes/sabnzbd3.rc
  blueprints/sabnzbd3/install.sh
  blueprints/sabnzbd3/readme.md
  blueprints/sabnzbd3/update.sh
  config.yml.example
  includes/global.sh
  jailman.sh
Owners: @ornias1993, @asmod3us

Fixup *arr versioning and updating (#160)
  blueprints/jackett/install.sh
  blueprints/jackett/update.sh
  blueprints/lidarr/install.sh
  blueprints/lidarr/update.sh
  blueprints/radarr/install.sh
  blueprints/radarr/update.sh
  blueprints/sonarr/update.sh
Owners: @ornias1993

Add Traefik (#149)
  .github/Readme.md
  blueprints/traefik/config.yml
  blueprints/traefik/includes/dashboard.toml
  blueprints/traefik/includes/dashboard_wildcard.toml
  blueprints/traefik/includes/firewall.rules
  blueprints/traefik/includes/ssl.yml
  blueprints/traefik/includes/traefik.toml
  blueprints/traefik/install.sh
  blueprints/traefik/readme.md
  blueprints/traefik/update.sh
  config.yml.example
Owners: @ornias1993

Add sabnzbd blueprint (#155)
  .github/CODEOWNERS
  blueprints/sabnzbd/config.yml
  blueprints/sabnzbd/install.sh
  blueprints/sabnzbd/readme.md
  blueprints/sabnzbd/update.sh
  config.yml.example
  includes/global.sh
Owners: @ornias1993, @asmod3us

Add working forward auth
  blueprints/traefik/includes/default.toml
  includes/global.sh
Owners: @ornias1993

Add config removal on uninstall
  includes/global.sh
  jailman.sh
Owners: @ornias1993

Add working basic auth
  includes/global.sh
Owners: @ornias1993

Stricter bash options. (#165)
  .github/workflows/shellcheck.yml
  blueprints/sabnzbd3/install.sh
  blueprints/traefik/includes/buildin_middlewares.toml
  blueprints/traefik/includes/dashboard.toml
  blueprints/traefik/includes/dashboard_wildcard.toml
  blueprints/traefik/includes/default.toml
  includes/blueprint_functions.sh
  includes/global.sh
  includes/global_functions.sh
  includes/init_functions.sh
  includes/libstrict.sh
  jailman.sh
Owners: @ornias1993, @asmod3us

Plex rework (#156)
  .github/CODEOWNERS
  blueprints/plex/config.yml
  blueprints/plex/includes/hw_transcoding.sh
  blueprints/plex/install.sh
  blueprints/plex/readme.md
Owners: @ornias1993, @thorsteneb

Autoconnect grafana to Unifi and change config.yml.example jailnames Fixes #159
  blueprints/grafana/config.yml
  blueprints/grafana/install.sh
  blueprints/grafana/readme.md
  config.yml.example
Owners: @colemamd, @ornias1993

Fixes #172. no undef for setdhcp
  includes/global_functions.sh
Owners: @ornias1993

fix syntax errors in yaml, add Nl at EOF, correct indentation (#178)
  blueprints/bazarr/config.yml
  blueprints/example/config.yml
  blueprints/grafana/includes/influxdb.yaml
  blueprints/influxdb/config.yml
  blueprints/jackett/config.yml
  blueprints/kms/config.yml
  blueprints/lidarr/config.yml
  blueprints/nextcloud/config.yml
  blueprints/organizr/config.yml
  blueprints/plex/config.yml
  blueprints/radarr/config.yml
  blueprints/sonarr/config.yml
  blueprints/traefik/config.yml
  blueprints/traefik/includes/ssl.yml
  blueprints/transmission/config.yml
  blueprints/unifi/config.yml
  config.yml.example
Owners: @ornias1993, @colemamd

syntax check blueprint install script before creating jail
  jailman.sh
Owners: @ornias1993

check if blueprint link was requested and that there is a jail for it
  includes/blueprint_functions.sh
Owners: @ornias1993
